<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="BaseConfigDlg" Width="370" Height="270">
        <Control Type="Text" Id="httpListeningAddressText" Width="105" Height="12" X="10" Y="56" Text="HTTP &amp;listening address:">
        </Control>
        <Control Type="Edit" Id="httpListeningAddressEdit" Width="100" Height="15" X="10" Y="68" Property="HTTP_LISTENING_ADDRESS">
        </Control>

        <Control Type="Text" Id="httpPortText" Width="77" Height="12" X="124" Y="56" Text="&amp;HTTP port:">
        </Control>
        <Control Type="Edit" Id="httpPortEdit" Width="60" Height="15" X="124" Y="68" Property="HTTP_PORT" Integer="yes">
        </Control>

        <Control Type="Text" Id="httpsListeningAddressText" Width="114" Height="12" X="10" Y="96" Text="HTTPS listening &amp;address:">
        </Control>
        <Control Type="Edit" Id="httpsListeningAddressEdit" Width="100" Height="15" X="10" Y="108" Property="HTTPS_LISTENING_ADDRESS">
        </Control>

        <Control Type="Text" Id="httpsPortText" Width="77" Height="12" X="124" Y="96" Text="HTTP&amp;S port:">
        </Control>
        <Control Type="Edit" Id="httpsPortEdit" Width="60" Height="15" X="124" Y="108" Property="HTTPS_PORT" Integer="yes">
        </Control>

        <Control Type="CheckBox" Id="httpsRedirectCheckBox" Width="200" Height="17" X="10" Y="132" Text="&amp;Redirect HTTP connections to HTTPS"
                 CheckBoxValue="1" ToolTip="Automatically redirect HTTP connections to HTTPS. Recommended." Property="REDIRECT_HTTPS" />

        <Control Type="CheckBox" Id="enableFirewallRulesCheckBox" Width="200" Height="17" X="10" Y="152" Text="Enable &amp;firewall rules"
                 CheckBoxValue="1" ToolTip="Enable HTTP and HTTPS firewall rules for external access." Property="ENABLE_FIREWALL_RULES" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="OpenStackConfigDlg">
          </Publish>
          <Condition Action="enable">HTTP_LISTENING_ADDRESS AND HTTP_PORT AND HTTPS_LISTENING_ADDRESS AND HTTPS_PORT</Condition>
          <Condition Action="disable">NOT (HTTP_LISTENING_ADDRESS AND HTTP_PORT AND HTTPS_LISTENING_ADDRESS AND HTTPS_PORT)</Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>HTTP and HTTPS configuration options</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}FreeRDP-WebConnect configuration</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>